<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/styles/home.css" />
  </head>
  <body>
    <div class="main-body">
      <nav class="nav-bar">
        <h3>Mydiary</h3>
        <ul class="options">
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>
        <ul class="user">
          <li id="reg"><a href="">Register</a></li>
          <li id="log"><a href="">Login</a></li>
        </ul>
      </nav>
      <scan>
        <img
          class="diary-image"
          src="../public/images/Dairy-Writing-1.png"
          alt=""
        />
      </scan>
      <br />
      <hr />
      <br />
      <div class="content1">
        <h1>What is MyDiary?</h1>
        <p>
          MyDiary is a platform where you can share your daily life experiences,
          your thoughts, your learnings and so much more.MyDiary ensures that
          your daily writings belong to you only and no other has access to it
          so its a secure place to put out your thoughts and experiences.
        </p>
      </div>
    </div>
  </body>
</html>
