<<<<<<< HEAD
#main-heading {
  margin-top: 2em;
=======


#main-heading {
  margin-top: 3em;
>>>>>>> d1a74f4e64497a21200ca8d354a84453e8daaaf5
  font-size: 4em;
  text-align: center;
}

#content {
  font-size: 2em;
  /* width: 70%;
  text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.5rem; /* optional: adjust for better readability */
  line-height: 1.5;
}

#contact-info {
  margin-top: 26vh;
}

/*------------------------------------*/
