* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100vw;
  height: 100vh;
  padding-top: 3em;
  background-color: rgb(232, 177, 235);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

#Form {
  font-size: 20px;
  /* margin: 180px 0px 100px 500px; */
  padding-top: 30px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  height: 520px;
  width: 400px;
  background-color: rgb(105, 224, 185);
  /* padding-bottom: 500px; */
}

.input-box {
  padding: 5px;
  font-size: 20px;
  text-align: center;
  height: 40px;
  width: 300px;
  margin-left: 10px;
  background-color: rgb(226, 233, 219);
  border-radius: 8px;
}

h2 {
  margin-left: 30px;
}

h1 {
  margin-bottom: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(218, 12, 12);
}

a {
  text-decoration: none;
}
